<%= @user.name %>, <%= @user.email %><br /><br />

Created at: <%= @user.created_at %><br />
Updated at: <%= @user.updated_at %><br /><br />

Time now: <%= Time.now %><br /><br />
Welcome, <%= flash[:success] %>

<%= provide(:title, @user.name) %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>